apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-bd
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle